extends ./layout/layout.jade

block title
  title Main Page

block content
  h1
    | Hello
    = ' ' + name + '!'
  p.
    We've successfully created a simple website using Node, Express and
    Pug(formerly Jade).  We're on our way folks!

  div.form-group
    form(name='diary-entry', method='post')
      span Book Title
      input.form-control(type='text', name='book', placeholder='Book Title')
      br
      span Page Number or Percent Completed
      input.form-control(type='text',name='percent', placeholder='Percent Completed')
      br
      input(type='submit', value='submit')
