doctype html
html(lang='en')
  head
    block title
      title This needs to be changed!
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css',
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7",
      crossorigin='anonymous',
      rel='stylesheet')

  body

    nav.navbar.navbar-default
      div.container-fluid
        a.navbar-brand(href='/') Reading Diary
        ul.nav.navbar-nav
          li
            a(href='newbook') Add Book
        ul.nav.navbar-nav.navbar-right
          if user !== undefined
            li
              a(href='#') Hello #{user.firstName}! #[a(href='/logout') (Not me)]
          else
            li
              a(href='signin') Login
            li
              a(href='register') Register

    block content
